.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.page {
  display: flex;
  flex-grow: 1;
}

.container {
  margin-top: 2rem;
}

.section {
  margin-bottom: 3.5rem;

  &Title {
    color: var(--primary-0);
    margin-bottom: 10px;
  }
}

.emptyText {
  color: var(--primary-0);
}

.noResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary-0);
  gap: 1rem;
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
