.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  border-bottom: 1px solid var(--secondary-200);
}

.status {
  width: 40px;
}

.name {
  font-size: 1.25rem;
}

.saved {
  font-size: 0.5em;
}

.actions {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.lastUpdated {
  position: absolute;
  bottom: -12px;
  left: 5px;
  font-size: 0.7em;
  color: var(--secondary-300);
}
