.page {
  display: flex;
  min-height: 100dvh;
  max-height: 100dvh;
  background-color: var(--primary-500);
}

.container {
  width: 800px;
  padding-block: 0;
  display: flex;
  flex-direction: column;
}

.leaders {
  margin-inline: auto;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 3rem;
  color: var(--primary-0);
}

.rating {
  margin-top: 2rem;
  flex-grow: 1;

  &Item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-0);
    padding: 0.4rem 1rem;
    border-radius: 1rem;
  }
}

.number {
  aspect-ratio: 1;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
}

.exit {
  margin-left: auto;

  @media (max-width: 700px) {
    margin-inline: auto;
  }
}

.first {
  background-color: #ffc827;
  .number {
    background-color: #ffd458;
    color: white;
  }
}

.second {
  background-color: #e0e0e0;
  .number {
    background-color: #f0f0f0;
    color: #a9a9a9;
  }
}

.third {
  background-color: #ffa751;
  .number {
    background-color: #ffc992;
    color: #c56302;
  }
}
