.card {
  background-color: var(--primary-0);
  padding: 1.5rem 1.5rem 10px 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--secondary-300);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: start;
  min-height: 150px;
}

.header {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.name {
  font-size: 1rem;
  font-weight: 500;
}

.nickname {
  font-size: 12px;
  color: var(--secondary-300);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1.5rem;
}

.start {
  width: 45px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--primary-500);
  transition: background-color 0.25s ease;

  &:hover {
    background-color: var(--primary-600);
  }
}

.status {
  font-size: 12px;
}
